/* public/styles/post.css */
article header {
  margin-bottom: 2rem;
}

time {
  color: #666; /* Lighter color for date */
  font-size: 0.9em; /* Smaller font size for date */
}

.tags {
  margin-top: 1rem;
}

.tag {
  color: #0070f3; /* Tag color */
  text-decoration: none; /* Remove underline */
  margin-right: 1rem; /* Space between tags */
}
